.course {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    height: max-content;
    background-size: cover;
    
}
.course::before {
    content: ""; /* Empty content for the pseudo-element */
    background-image: url("../../assets/background.png"); /* Same background image */
    background-size: cover; /* Ensure the image covers the area */
    filter: grayscale(100%) opacity(50%); /* Apply grayscale and opacity */
}

.course-container {
    max-width: 720px;
    min-height: 100%;
    margin: 0 auto;
    padding: 20px;
    height: max-content;
}