.dataTap{
    height: 100%;
    width: 80%;
    padding-left: 10px;
    .TapTitle{
        font: roboto;
        font-weight: bold;
        font-size: 35px;
        margin: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 1;/* Number of lines to show */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    span{
        font: roboto;
        font-weight: light;
        font-size: 32px;
        /* margin-left: 50px; */
    }
    .list{
        overflow-y: scroll;
        height: 660px;
        gap: 5%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
    .list::-webkit-scrollbar {
        width: 12px; /* Width of the entire scrollbar */
        height: 12px; /* Height of the entire scrollbar */
    }
    
    .list::-webkit-scrollbar-track {
        background: #f1f1f1; /* Background of the scrollbar track */
        border-radius: 10px; /* Rounded corners of the track */
    }
    
    .list::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners of the thumb */
    }
    .addBar {
        width: 250px;
        height: 250px;
    }
}