.add-document {
    position: absolute;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .add-document h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .tabs button.active {
    background-color: #2196f3;
    color: #fff;
  }
  
  .tabs button:hover:not(.active) {
    background-color: #c0c0c0;
  }
  
  .form-content {
    display: flex;
    flex-direction: column;
  }
  
  .form-content label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-content input,
  .form-content textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    backdrop-filter: blur(1.5px);
  }
  
  .form-content textarea {
    height: 100px;
    resize: vertical;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .buttons button {
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .buttons button:hover {
    background-color: #1e88e5;
  }
  