.admincontainer{
    width: 1383px;
    min-height: 791px;
    height: max-content;
    background-color: #D9D9D9;
    display: flex;
    margin: 20px;
}


.content{
    width: 80%;
    height: 100%;
    background-color: #D9D9D9;
}